h1 {
    color: red;
}
.firstBody {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
button {
    font-size: x-large;
    border-color: red;
    background-color: red;
    
}
.divOllama{
    height: max-content
}
